.git
.env
.env.local
README.md
Dockerfile
.dockerignore
node_modules
.next/*
!.next/standalone/
!.next/standalone/**
!.next/static/
!.next/static/**
.storybook
.offline
storybook-static
stories
debug-storybook.log
tsconfig.tsbuildinfo
