@import "tailwindcss";

/* =========================
   Base Variables
========================= */

:root {
  /* UI Colors */
  --ui-primary: #77d30f;
  --ui-secondary: #e9fec9;
  --ui-success: #43a600;
  --ui-danger: #ff2323;
  --ui-warning: #ffd90d;
  --ui-info: #2f7ce1;

  /* Background */
  --bg-base: #ffffff;
  --bg-surface: #f5f5f5;

  /* Text */
  --text-primary: #171717;
  --text-secondary: #444444;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-base: #0a0a0a;
    --bg-surface: #141414;

    --text-primary: #ededed;
    --text-secondary: #bdbdbd;
  }
}

/* =========================
   Tailwind mapping layer
========================= */

@theme inline {
  --color-ui-primary: var(--ui-primary);
  --color-ui-secondary: var(--ui-secondary);
  --color-ui-success: var(--ui-success);
  --color-ui-danger: var(--ui-danger);
  --color-ui-warning: var(--ui-warning);
  --color-ui-info: var(--ui-info);

  --color-bg-base: var(--bg-base);
  --color-bg-surface: var(--bg-surface);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
}

/* =========================
   Base body
========================= */

body {
  background: var(--bg-base);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}